/* ======== MODULES ======== */
/* ---- site header ---- */
#site-header {
  padding-right: 2em;
  background-color: black;
  border-bottom: 1px solid gray;
}
#logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}
#site-nav {
  float: right;
}
#site-nav li,
#site-nav a {
  display: inline-block;
}
#site-nav a {
  padding: .5em 1em;
}
/* ---- assets ---- */
.asset {
  display: inline-block;
}
.arrow {
  width: 1.8em;
  height: 1.8em;
}
/* ---- slideshow (home) ---- */
article.slideshow {
  position: absolute;
  right: 7em;
  bottom: 7em;
  width: 40em;
}
article.slideshow header {
  width: 36em;
  /* 26em * 1.5 because of font sizes */

}
article.slideshow .prefix,
article.slideshow h1 {
  position: relative;
  float: left;
  min-height: 1px;
}
article.slideshow .prefix {
  width: 4em;
  font-size: 1.5em;
}
article.slideshow h1 {
  width: 19em;
  margin: .33em 0 .33em 1em;
}
article.slideshow .entry-content {
  padding-left: 33.33%;
}
.asset.arrow {
  position: absolute;
  top: 4em;
  left: 0;
  opacity: 0;
}
.asset.arrow:nth-child(even) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 2em;
  top: -4em;
}
.asset.arrow.asset-loaded {
  -webkit-transition: all 1s cubic-bezier(0.05, 0.75, 0.25, 0.95) 5s;
  top: 0 !important;
  opacity: 1 !important;
}
/* ---- gallery (projects) ---- */
/* ---- carousel (team) ---- */
/* ---- overview (workplaces) ---- */
/* ---- archive (blog) ---- */
/* ---- post (blog) ---- */