# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Tags      taken from: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags and ctags
TAGS
tags

# Vim       taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
.*.sw[a-z]
*.un~
.session.vim

# Bundler / Rails
# ----------------------------------------------------------------------------------------------
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.rvmrc
bin/*
log/*
log/**
vendor/gems/*
vendor/gems/**
vendor/ruby/*
vendor/ruby/**
bundler_stubs/

# Node
# ----------------------------------------------------------------------------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

out
